<header> 
        <nav>
        <ul id="hederUl">
            <li><img class="logo" src="img/plavi_logo.png" alt="Logo"></li>
            <li id="hederLi"><a id="hederTekst" href="/">POČETNA</a></li>
            <li id="hederLi"><a id="hederTekst" href="/dodaj">DODAJ PARTNERA</a></li>
            <li id="hederLi"><a id="hederTekst" href="/saradnje">DODAJ SARADNJU</a></li>
        </ul>
    </nav>
</header>
