<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/pocetna.css">
    <link rel="stylesheet" href="css/dodajSaradnju.css">
    <link href="https://fonts.cdnfonts.com/css/neusharp" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul id="hederUl">
                <li id="hederLi"><a id="hederTekst" href="/">Pocetna</a></li>
                <li id="hederLi"><a id="hederTekst" href="/dodaj">Dodaj Partnera</a></li>
                <li id="hederLi"><a id="hederTekst" href="/saradnja">Dodaj Saradnju</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>DODAJ SARADNJU</h1>
        <form class="forma" action="/saradnja" method="post">
            <div class="col">
                <label>Naziv projekta:</label>               
                <label>Partner:</label>
                <label>Tip saradnje:</label>
                <label>Komentar:</label>
            </div>
            
            <div class="col">
                <input class="placeholder" id="nazivProjekta" type="text" name="nazivProjekta" required>
                <input class="search" id="partner" type="search" name="partner" placeholder="search" required>
                <select name="tipSaradnje" id="tipSaradnje" required>
                    <option value="">Saradnja 1</option>
                    <option value="">Saradnja 2</option>
                    <option value="">Saradnja 3</option>
                    <option value="">Saradnja 4</option>
                </select>
                <textarea class="komentar" id="komentar" name="komentar" rows="8" cols="60" placeholder="Dodaj komentar"></textarea>
                <input class="btn" type="submit" value="DODAJ">
            </div>
            
        </form>
    </div>

    <footer>
        
    </footer>

</body>
</html>