<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/pocetna.css">
</head>
<body>
    
    <header>
        <nav>
            <ul id="hederUl">
                <li id="hederLi"><a id="hederTekst" href="pocetna.html">Pocetna</a></li>
                <li id="hederLi"><a id="hederTekst" href="dodajPartnera.html">Dodaj Partnera</a></li>
            </ul>
        </nav>
    </header>

    <br>
    <form action="/submit" method="post">
        <label>Ime kompanije:</label>
        <input type="text" required>
    
        <br><br>
    
        <label>Kontakt telefon:</label>
        <input type="number" required>
    
        <br><br>

        <label>Kontakt osoba:</label>
        <input type="text" required>
    
        <br><br>

        <label>Kontakt osoba:</label>
        <input type="email" required>
    
        <br><br>
    
        <input type="submit" value="Submit">
    </form>
</body>
</html>