<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/pocetna.css">
</head>
<body>
<br><br>

<div style="display: flex; justify-content: space-between;">
    <input type="text" class="search" placeholder="Pretraži kompaniju partnera"> 
           <div style="display: flex;">
            <button class="dugme">Filteri</button>
            <button class="dugme">Korisnik12345</button>
            <button class="dugme">:</button>
       </div>
</div>

<br><br>
    





    <table>
        <thead>
            <tr>
                <td class="kolona1"> <input type="checkbox"> Kompanija</td>
                <td class="kolona2">Kategorija</td>
                <td class="kolona3">Kontaktiran na dan</td>
                <td class="kolona4">Status</td>
                <td class="kolona5">Komentar</td>
            </tr> 
        </thead>
        <tbody>
            <!-- Redovi -->
            <tr>
                <td class="kolona1"> <input type="checkbox"> <div class="krug-ikonica"></div> Red 1</td>
                <td class="kolona2">Red 1</td>
                <td class="kolona3">Red 1</td>
                <td class="kolona4"> <div class="status-cekanje">Cekanje </div></td>
                <td class="kolona5"> Treba da vide imaju li kapacitet za taj dan</td> 
            </tr> 
            <tr>
                <td class="kolona1"> <input type="checkbox"> <div class="krug-ikonica"></div> Red 2</td>
                <td class="kolona2">Red 2</td>
                <td class="kolona3">Red 2</td>
                <td class="kolona4"> <div class="status-prihvatio">Prihvatio</div></td>
                <td class="kolona5">Treba da vide imaju li kapacitet za taj dan</td> 
            </tr> 
            <tr>
                <td class="kolona1"> <input type="checkbox"> <div class="krug-ikonica"></div> Red 3</td>
                <td class="kolona2">Red 3</td>
                <td class="kolona3">Red 3</td>
                <td class="kolona4"> <div class="status-odbio">Odbio</div></td>
                <td class="kolona5">Treba da vide imaju li kapacitet za taj dan</td> 
            </tr>
            <tr>
                <td class="kolona1"> <input type="checkbox"> <div class="krug-ikonica"></div> Red 4</td>
                <td class="kolona2">Red 4</td>
                <td class="kolona3">Red 4</td>
                <td class="kolona4"> <div class="status-cekanje">Cekanje</div></td>
                <td class="kolona5">Treba da vide imaju li kapacitet za taj dan</td> 
            </tr>
            <tr>
                <td class="kolona1"> <input type="checkbox"> <div class="krug-ikonica"></div> Red 5</td>
                <td class="kolona2">Red 5</td>
                <td class="kolona3">Red 5</td>
                <td class="kolona4"> <div class="status-cekanje">Cekanje</div></td>
                <td class="kolona5">Treba da vide imaju li kapacitet za taj dan</td> 
            </tr>
            <tr>
                <td class="kolona1"> <input type="checkbox"> <div class="krug-ikonica"></div> Red 6</td>
                <td class="kolona2">Red 6</td>
                <td class="kolona3">Red 6</td>
                <td class="kolona4"> <div class="status-prihvatio">Prihvatio</div></td>
                <td class="kolona5">Treba da vide imaju li kapacitet za taj dan</td> 
            </tr>
            <tr>
                <td class="kolona1"> <input type="checkbox"> <div class="krug-ikonica"></div> Red 7</td>
                <td class="kolona2">Red 7</td>
                <td class="kolona3">Red 7</td>
                <td class="kolona4"> <div class="status-odbio">Odbio</div></td>
                <td class="kolona5">Treba da vide imaju li kapacitet za taj dan</td> 
            </tr>
            <tr>
                <td class="kolona1"> <input type="checkbox"> <div class="krug-ikonica"></div> Red 8</td>
                <td class="kolona2">Red 8</td>
                <td class="kolona3">Red 8</td>
                <td class="kolona4"> <div class="status-cekanje">Cekanje</div></td>
                <td class="kolona5">Treba da vide imaju li kapacitet za taj dan</td> 
            </tr>
        </tbody>
    </table>

    
    

</body>
</html>